In [3]:
# from vehicle import *
# from veh_stats import get_distance_driven
from datetime import datetime, date
import subprocess
import findspark
import sys
# import gmplot

# spark location on namenode server
findspark.init("/usr/hdp/current/spark2-client")
import pyspark
from pyspark.sql import HiveContext

In [4]:
COL_NUM_DICT = {1: 'TDATE', 2: 'SDATE', 16: 'CCS_CHARGECUR', 58: 'HCU_BATCHRGDSP',
                60: 'ICM_TOTALODOMETER', 74: 'LON84', 75: 'LAT84'}

In [4]:
# configs
conf = pyspark.SparkConf().setAll([('spark.app.name', 'daily_trips'),
                                   ('spark.master', 'yarn'),
                                   ('spark.submit.deployMode', 'client'),
                                   ('spark.executor.memory', '10g'),
                                   ('spark.memory.fraction', '0.7'),
                                   ('spark.executor.cores', '3'),
                                   ('spark.executor.instances', '40'),
                                   ('spark.yarn.am.memory', '20g')])
# conf1 = pyspark.SparkConf().setAll([('spark.app.name', 'export_to_hive'),
#                                     ('spark.master', 'local'),
#                                     ('spark.executor.memory', '10g'),
#                                     ('spark.memory.fraction', '0.7'),
#                                     ('spark.executor.cores', '3')])

In [5]:
sc = pyspark.SparkContext(conf=conf)

In [6]:
sc

In [6]:
def human_readable_time(t):
    t = int(t)
    if t < 60:
        return '{:02d}s'.format(t)
    elif t < 3600:
        m = t // 60
        s = t % 60
        return '{:02d}m{:02d}s'.format(m, s)
    else:
        h = t // 3600
        m = (t - h*3600) // 60
        s = t % 60
        return '{}h{:02d}m{:02d}s'.format(h, m, s)

In [7]:
def transform_to_tuple(line):
    """
    input a line, get required signals as specified in COL_NUM_DICT
    """
    fields = line.split(",")
    vin = fields[0]
    otherfields = {}
    for col_index, col in COL_NUM_DICT.items():
        this_value = fields[int(col_index)]
        otherfields[col] = this_value
    return vin, otherfields

In [8]:
def filter_driving(df):
    filter1 = df['ICM_TOTALODOMETER'] > 0
    filter2 = (df['CCS_CHARGECUR'] < 0.1) | (df['CCS_CHARGECUR'].isna())
    filter3 = (df['HCU_BATCHRGDSP'] == 0) | (df['HCU_BATCHRGDSP'].isna())
    filters = filter1 & filter2 & filter3
    return df.loc[filters].copy()

colors = [
'black',
'blue',
'blueviolet',
'brown',
'cadetblue',
'chocolate',
'coral',
'crimson',
'darkcyan',
'darkgoldenrod',
'darkgreen',
'darkmagenta',
'darkolivegreen',
'darkorange',
'darkorchid',
'darkred',
'darkslateblue',
'darkslategray']
def draw(lats, lons, vin):
    gmap = gmplot.GoogleMapPlotter(np.mean(lat), np.mean(lon), 13)
    gmap.scatter(lats, lons, color=c, size=100, marker=False)
    gmap.marker(coords[0][0], coords[0][1], 'y') # start
    gmap.marker(coords[-1][0], coords[-1][1], 'r') # end

    gmap.draw("my_map_{}.html".format(vin))

In [10]:
def _trip_stats_helper(df, vin, max_disrupt=10):
    # drop rows that has null gps value
    df = df.dropna(subset=['LAT84', 'LON84'])
    df = df.reset_index(drop=True)
    
    res = {}
    res['stime'] = []
    res['etime'] = []
    res['slat'] = []
    res['slon'] = []
    res['elat'] = []
    res['elon'] = []
    res['dist']  = []
    
    if df.empty:
        return pd.DataFrame(res)
    
    # add time difference column, convert to seconds
    df.loc[:, 'tdiff'] = df['TDATE'].diff().fillna(timedelta(seconds=10))
    df['tdiff'] = df['tdiff'].apply(lambda x: int(x.seconds))
    
    # get indices where time difference longer than threshold
    indices = df.index[df['tdiff'] > max_disrupt*60].tolist()
    indices.insert(0, 0)
    if indices[-1] < df.shape[0] - 1:
        indices.append(df.shape[0])
    
    gmap = gmplot.GoogleMapPlotter(np.mean(df['LAT84']), np.mean(df['LON84']), 13)
    for i in range(len(indices) - 1):
        lo = indices[i]
        hi = indices[i+1]
        
        if lo + 1 == hi:
            continue
            
        res['stime'].append(df['TDATE'].iloc[lo])
        res['slat'].append(df['LAT84'].iloc[lo])
        res['slon'].append(df['LON84'].iloc[lo])
        res['etime'].append(df['TDATE'].iloc[hi-1])
        res['elat'].append(df['LAT84'].iloc[hi-1])
        res['elon'].append(df['LON84'].iloc[hi-1])
        
        df_seg = df.iloc[lo:hi, :].copy()
        res['dist'].append(get_distance_driven(df_seg))
        
        lats = df_seg['LAT84'].tolist()
        lons = df_seg['LON84'].tolist()
        gmap.scatter(lats, lons, color=colors[i], size=100, marker=False)
        gmap.marker(lats[0], lons[0], 'y') # start
        gmap.marker(lats[-1], lons[-1], 'r') # end
        
    gmap.draw("my_map_{}.html".format(vin))
    res_df = pd.DataFrame(res)
    res_df['vin'] = vin
    if res_df.empty:
        return res_df
    res_df['dura_sec'] = res_df.apply(lambda x: int((x['etime']-x['stime']).total_seconds()), axis=1)
    res_df['duration'] = res_df['dura_sec'].apply(lambda x: human_readable_time(x))
    return res_df

____

In [ ]:
df = Vehicle('ag_20150121.csv').df

df = df[COL_NUM_DICT.values() + ['VIN']]

In [44]:
vin = 'LMGGN1S54E1000027'
df1 = df[df['VIN'] == vin]
tt = _trip_stats_helper(df1.copy(), vin)
tt

(2, 9)

Empty DataFrame
Columns: [dist, elat, elon, etime, slat, slon, stime, vin]
Index: []

In [ ]:
tt = pd.DataFrame()
vins = df['VIN'].unique()
for vin in vins:
    print(vin)
    df1 = df[df['VIN'] == vin]
    temp = _trip_stats_helper(df1.copy(), vin)
    if temp.empty:
        continue
    tt = pd.concat([tt, temp])
tt

_____

In [11]:
def compute_trip_stats(x):
    df = pd.DataFrame(list(x[1]))
    df['VIN'] = x[0]
    # initialize in Vehicle meaning convert epoch time to timestamp, sort by tdate, drop duplicate
    veh = Vehicle(df) 
    # filter out driving record only
    df = filter_driving(veh.df)
    
    trip_df = _trip_stats_helper(df.copy(), x[0])
    res = trip_df.to_dict()
    print(x[0])
    return veh.vin, res

In [ ]:
sc = pyspark.SparkContext.getOrCreate(conf=conf)

In [58]:
sc.addPyFile('/home/stang/user-profile/stats-spark/veh.zip')

In [65]:
d = 20150201
data_file = 'hdfs://namenode:8020/data/ag/by-day/ag_{}.csv'.format(d)

In [66]:
rdd = sc.textFile(data_file).filter(lambda line: len(line.split(',')) in [85, 86])
res = rdd.map(transform_to_tuple).groupByKey().map(compute_trip_stats).collect()

In [69]:
vals = OrderedDict(res).values()
ff = pd.DataFrame()
for val in vals:
    temp = pd.DataFrame(val)
    if temp.empty:
        continue
    ff = pd.concat([ff, temp])
ff

,dist,dura_sec,duration,elat,elon,etime,slat,slon,stime,vin
0,6.0,1234,20m34s,22.944952,113.360830,2015-02-01 11:03:46+08:00,22.930046,113.410490,2015-02-01 10:43:12+08:00,LMGGN1S52E1000186
1,1.0,355,05m55s,22.947410,113.368350,2015-02-01 12:24:36+08:00,22.944824,113.360590,2015-02-01 12:18:41+08:00,LMGGN1S52E1000186
2,7.0,1528,25m28s,22.928423,113.411240,2015-02-01 14:26:02+08:00,22.947308,113.368420,2015-02-01 14:00:34+08:00,LMGGN1S52E1000186
3,0.0,71,01m11s,22.930042,113.410520,2015-02-01 17:35:50+08:00,22.928415,113.411125,2015-02-01 17:34:39+08:00,LMGGN1S52E1000186
0,8.0,702,11m42s,23.118774,113.335900,2015-02-01 00:21:02+08:00,23.104220,113.364815,2015-02-01 00:09:20+08:00,LMGGN1S53E1000035
0,0.0,0,00s,23.162819,113.268660,2015-02-01 10:08:09+08:00,23.162819,113.268660,2015-02-01 10:08:09+08:00,LMGGN1S51E1000194
1,0.0,436,07m16s,23.162992,113.268715,2015-02-01 10:32:47+08:00,23.162863,113.268650,2015-02-01 10:25:31+08:00,LMGGN1S51E1000194
2,51.0,5405,1h30m05s,23.029043,113.448395,2015-02-01 12:17:48+08:00,23.162886,113.268780,2015-02-01 10:47:43+08:00,LMGGN1S51E1000194
3,10.0,1710,28m30s,23.036777,113.427956,2015-02-01 13:25:17+08:00,23.029097,113.448440,2015-02-01 12:56:47+08:00,LMGGN1S51E1000194
4,0.0,212,03m32s,23.036676,113.428100,2015-02-01 14:37:01+08:00,23.036741,113.428140,2015-02-01 14:33:29+08:00,LMGGN1S51E1000194
0,22.0,2430,40m30s,23.162025,113.268840,2015-02-01 09:58:20+08:00,23.070110,113.283400,2015-02-01 09:17:50+08:00,LMGGN1S56E1000188
1,0.0,624,10m24s,23.162872,113.268360,2015-02-01 10:19:30+08:00,23.162030,113.268820,2015-02-01 10:09:06+08:00,LMGGN1S56E1000188
2,0.0,94,01m34s,23.162874,113.268470,2015-02-01 11:22:35+08:00,23.162855,113.268425,2015-02-01 11:21:01+08:00,LMGGN1S56E1000188
3,0.0,5418,1h30m18s,23.163269,113.268530,2015-02-01 13:13:31+08:00,23.163067,113.268470,2015-02-01 11:43:13+08:00,LMGGN1S56E1000188
4,16.0,2813,46m53s,23.137856,113.373440,2015-02-01 14:54:53+08:00,23.163034,113.268620,2015-02-01 14:08:00+08:00,LMGGN1S56E1000188
5,18.0,1978,32m58s,23.070234,113.283170,2015-02-01 16:37:11+08:00,23.137815,113.373410,2015-02-01 16:04:13+08:00,LMGGN1S56E1000188
0,20.0,4221,1h10m21s,23.197386,113.245160,2015-02-01 14:47:09+08:00,23.093363,113.254910,2015-02-01 13:36:48+08:00,LMGGN1S50E1000171
1,18.0,4538,1h15m38s,23.093348,113.254860,2015-02-01 17:09:27+08:00,23.197490,113.244770,2015-02-01 15:53:49+08:00,LMGGN1S50E1000171
0,3.0,500,08m20s,23.559786,113.564920,2015-02-01 08:46:57+08:00,23.545986,113.582120,2015-02-01 08:38:37+08:00,LMGGN1S5XE1000193
1,6.0,786,13m06s,23.586110,113.568756,2015-02-01 09:21:12+08:00,23.559797,113.564940,2015-02-01 09:08:06+08:00,LMGGN1S5XE1000193
2,9.0,1313,21m53s,23.546059,113.582245,2015-02-01 12:43:39+08:00,23.581882,113.569750,2015-02-01 12:21:46+08:00,LMGGN1S5XE1000193
3,82.0,4499,1h14m59s,23.037226,113.476910,2015-02-01 16:36:02+08:00,23.546250,113.582214,2015-02-01 15:21:03+08:00,LMGGN1S5XE1000193
4,5.0,611,10m11s,23.045881,113.446266,2015-02-01 20:50:09+08:00,23.034632,113.475840,2015-02-01 20:39:58+08:00,LMGGN1S5XE1000193
5,5.0,1009,16m49s,23.037203,113.476930,2015-02-01 21:48:20+08:00,23.045904,113.446230,2015-02-01 21:31:31+08:00,LMGGN1S5XE1000193
0,2.0,569,09m29s,23.384651,113.180670,2015-02-01 12:07:05+08:00,23.377150,113.176320,2015-02-01 11:57:36+08:00,LMGGN1S53E1000195
1,3.0,494,08m14s,23.387026,113.189650,2015-02-01 13:15:17+08:00,23.384775,113.180800,2015-02-01 13:07:03+08:00,LMGGN1S53E1000195
2,3.0,584,09m44s,23.374540,113.176650,2015-02-01 13:55:55+08:00,23.387058,113.189600,2015-02-01 13:46:11+08:00,LMGGN1S53E1000195
0,5.0,793,13m13s,23.091093,113.324200,2015-02-01 08:52:45+08:00,23.073156,113.302740,2015-02-01 08:39:32+08:00,LMGGN1S55E1000182
1,0.0,10,10s,23.091131,113.324356,2015-02-01 09:29:52+08:00,23.091156,113.324290,2015-02-01 09:29:42+08:00,LMGGN1S55E1000182
2,0.0,270,04m30s,23.091164,113.324530,2015-02-01 09:56:47+08:00,23.091090,113.324486,2015-02-01 09:52:17+08:00,LMGGN1S55E1000182
3,0.0,71,01m11s,23.091140,113.324370,2015-02-01 12:49:51+08:00,23.091852,113.324490,2015-02-01 12:48:40+08:00,LMGGN1S55E1000182
4,7.0,762,12m42s,23.071802,113.295250,2015-02-01 21:09:00+08:00,23.091230,113.324610,2015-02-01 20:56:18+08:00,LMGGN1S55E1000182
0,0.0,623,10m23s,23.106056,113.242460,2015-02-01 11:41:25+08:00,23.105297,113.241190,2015-02-01 11:31:02+08:00,LMGGN1S52E1000172
1,3.0,1005,16m45s,23.090790,113.254470,2015-02-01 12:20:28+08:00,23.106386,113.242420,2015-02-01 12:03:43+08:00,LMGGN1S52E1000172
2,5.0,1698,28m18s,23.110493,113.268080,2015-02-01 17:11:49+08:00,23.091284,113.255226,2015-02-01 16:43:31+08:00,LMGGN1S52E1000172
0,72.0,7635,2h07m15s,23.424387,113.206955,2015-02-01 11:32:39+08:00,22.999205,113.354965,2015-02-01 09:25:24+08:00,LMGGN1S54E1000190
1,68.0,5478,1h31m18s,22.998533,113.354750,2015-02-01 17:28:23+08:00,23.424286,113.207870,2015-02-01 15:57:05+08:00,LMGGN1S54E1000190
2,39.0,3828,1h03m48s,23.005579,113.323300,2015-02-01 18:44:25+08:00,22.998663,113.354690,2015-02-01 17:40:37+08:00,LMGGN1S54E1000190
3,38.0,3730,1h02m10s,22.998535,113.354730,2015-02-01 21:42:21+08:00,23.005594,113.322900,2015-02-01 20:40:11+08:00,LMGGN1S54E1000190
0,21.0,2660,44m20s,23.238323,113.293880,2015-02-01 18:29:08+08:00,23.119260,113.294960,2015-02-01 17:44:48+08:00,LMGGN1S51E1000180
1,21.0,1995,33m15s,23.119300,113.295200,2015-02-01 21:23:16+08:00,23.238209,113.293790,2015-02-01 20:50:01+08:00,LMGGN1S51E1000180
0,2.0,811,13m31s,22.943686,113.388420,2015-02-01 09:14:57+08:00,22.941599,113.387276,2015-02-01 09:01:26+08:00,LMGGN1S50E1000185
1,22.0,1816,30m16s,23.043806,113.492386,2015-02-01 10:36:32+08:00,22.943708,113.388440,2015-02-01 10:06:16+08:00,LMGGN1S50E1000185
2,19.0,1989,33m09s,22.941158,113.387250,2015-02-01 20:41:08+08:00,23.043844,113.492355,2015-02-01 20:07:59+08:00,LMGGN1S50E1000185
3,1.0,103,01m43s,22.943756,113.388420,2015-02-01 20:54:23+08:00,22.941141,113.387110,2015-02-01 20:52:40+08:00,LMGGN1S50E1000185
0,2.0,1132,18m52s,23.120005,113.607900,2015-02-01 14:33:55+08:00,23.112080,113.619250,2015-02-01 14:15:03+08:00,LMGGN1S59E1000184
1,3.0,642,10m42s,23.112509,113.619470,2015-02-01 15:23:19+08:00,23.119660,113.607635,2015-02-01 15:12:37+08:00,LMGGN1S59E1000184
2,32.0,2370,39m30s,23.038393,113.478160,2015-02-01 16:18:21+08:00,23.112505,113.620130,2015-02-01 15:38:51+08:00,LMGGN1S59E1000184
3,34.0,5294,1h28m14s,22.937070,113.337690,2015-02-01 18:22:00+08:00,23.038380,113.478250,2015-02-01 16:53:46+08:00,LMGGN1S59E1000184
4,6.0,1036,17m16s,22.915580,113.361920,2015-02-01 20:40:27+08:00,22.937119,113.337700,2015-02-01 20:23:11+08:00,LMGGN1S59E1000184
5,27.0,3630,1h00m30s,23.038078,113.478350,2015-02-01 22:14:19+08:00,22.915602,113.361950,2015-02-01 21:13:49+08:00,LMGGN1S59E1000184
0,3.0,1299,21m39s,23.063580,114.413475,2015-02-01 09:46:43+08:00,23.063824,114.413590,2015-02-01 09:25:04+08:00,LMGGN1S58E1000192
1,2.0,737,12m17s,23.063549,114.413506,2015-02-01 10:19:15+08:00,23.063557,114.413500,2015-02-01 10:06:58+08:00,LMGGN1S58E1000192
2,1.0,622,10m22s,23.063520,114.413410,2015-02-01 10:43:10+08:00,23.063564,114.413530,2015-02-01 10:32:48+08:00,LMGGN1S58E1000192
3,0.0,220,03m40s,23.063923,114.411060,2015-02-01 11:16:52+08:00,23.063498,114.413330,2015-02-01 11:13:12+08:00,LMGGN1S58E1000192
4,2.0,1026,17m06s,23.063519,114.413470,2015-02-01 11:59:32+08:00,23.064154,114.411050,2015-02-01 11:42:26+08:00,LMGGN1S58E1000192
5,1.0,1201,20m01s,23.063475,114.413530,2015-02-01 14:14:01+08:00,23.063354,114.413620,2015-02-01 13:54:00+08:00,LMGGN1S58E1000192
6,10.0,921,15m21s,23.115925,114.415040,2015-02-01 15:30:41+08:00,23.063358,114.413360,2015-02-01 15:15:20+08:00,LMGGN1S58E1000192
7,10.0,1003,16m43s,23.063650,114.413190,2015-02-01 17:43:20+08:00,23.115782,114.414970,2015-02-01 17:26:37+08:00,LMGGN1S58E1000192

________